<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bluefrog1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 4}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 444}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bluefrog2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 4}, {106, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 592}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bluefrog3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 5}, {124, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 444}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bluefrog4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {138, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 740}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bluefrog5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {150, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 296}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bluefrog6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {156, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 148}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>greenfrog1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 4}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{632, 296}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>greenfrog2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 4}, {106, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{632, 148}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>greenfrog3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 5}, {124, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{790, 0}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>greenfrog4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {138, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 444}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>greenfrog5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {150, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 592}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>greenfrog6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {156, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 740}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>orangefrog1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 4}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 592}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>orangefrog2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 4}, {106, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 148}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>orangefrog3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 5}, {124, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{790, 148}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>orangefrog4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {138, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{790, 296}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>orangefrog5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {150, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 0}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>orangefrog6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {156, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 0}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redfrog1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 4}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{316, 296}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redfrog2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 4}, {106, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 740}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redfrog3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 5}, {124, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 0}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redfrog4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {138, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 148}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redfrog5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {150, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{632, 444}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>redfrog6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {156, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{474, 444}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellowfrog1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 4}, {94, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellowfrog2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{42, 4}, {106, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 148}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellowfrog3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 5}, {124, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{632, 0}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellowfrog4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {138, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 296}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellowfrog5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {150, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{790, 444}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>yellowfrog6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {156, 140}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{156, 146}</string>
			<key>spriteSourceSize</key>
			<string>{156, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158, 296}, {156, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>frog iphone</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>frogAnim-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>frogAnim-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>